.academia {
  display: flex; /* Organiza as imagens em linha */
  gap: 25px; /* Espaço entre as imagens */
  justify-content: center; /* Centraliza as imagens */
}

.academia img {
  width: 150px; /* Define o tamanho fixo das imagens */
  height: 150px; /* Garante que a altura das imagens seja a mesma */
  border-radius: 50%; /* Deixa as imagens arredondadas */
  object-fit: cover; /* Faz com que a imagem se ajuste dentro do círculo sem distorcer */
  transition: box-shadow 0.3s ease;
}

.academia img:hover {
  box-shadow: 0 0 30px 10px rgba(226, 171, 51, 0.9); /* Brilho ao passar o mouse */
}

.here-card {
  border: 1px solid #f8b044; /* Cor da borda */
  padding: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin-top: 20px;
}
.here-card:hover {
  box-shadow: 0 0 30px 10px rgba(226, 171, 51, 0.9); /* Brilho ao passar o mouse */
}

.here-card .img img {
  width: 200px; /* Tamanho fixo para a imagem */
  height: 250px; /* Tamanho fixo para a imagem */
  border-radius: 50%; /* Redondeza a borda da imagem */
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
  margin-top: 20px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Personalizando as setas do carrossel para ficarem visíveis e com a cor laranja */
.slick-prev:before,
.slick-next:before {
  color: #e2a343 !important; /* cor laranja para as setas */
  font-size: 24px !important; /* tamanho das setas */
  margin-right: 30px;
}

/* Efeito de hover nas setas */
.slick-prev:hover:before,
.slick-next:hover:before {
  color: #d88e29 !important; /* cor laranja mais escura no hover */
}

.força-img {
  width: 100vw; /* 100% da largura da tela */
  height: 401px;
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
  position: absolute; /* Posiciona a imagem de forma absoluta */
  top: 0; /* Cola no topo da tela */
  left: 0; /* Cola na esquerda da tela */
  right: 0; /* Cola na direita da tela */
  z-index: -1; /* Garante que a imagem fique atrás dos outros elementos */
}

/* Seção Missão */
section.missao {
  padding-top: 400px; /* Garante que a seção comece abaixo da imagem (ajuste o valor conforme necessário) */
  padding-bottom: 40px;
}
h1.titulo1 {
  text-align: center;
}

section.video {
  text-align: center;
}

h2.titulo2 {
  text-align: left;
}

h2.sobredev {
  text-align: left;
}
